<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messagingContentTypes" type="CSGO.Shared.Serialization.ContentTypesSection, CSGO.Shared.Windows"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="instanceName" value="server1"/>
    <add key="instanceId" value="1"/>
    <add key="instanceCryptoKey" value="MTIzNDU2Nzg5MA=="/>
    <add key="multicastRange" value="224.0.0.0-239.255.255.255"/>
    <add key="multicastLoopback" value="true"/>
    <add key="debugInjections" value="true"/>
    <add key="tempDir" value="Temp"/>
  </appSettings>
  <messagingContentTypes>
    <contentTypes>
      <add contentType="application/octet-stream" extension="*"/>
      <add contentType="application/octet-stream" extension="bin"/>
    </contentTypes>
  </messagingContentTypes>
</configuration>