<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messagingContentTypes" type="Altus.Suffūz.Serialization.ContentTypesSection, Altus.Suffūz"/>
  </configSections>
  <messagingContentTypes>
    <contentTypes>
      <add contentType="application/octet-stream" extension="*"/>
      <add contentType="application/octet-stream" extension="bin"/>
    </contentTypes>
  </messagingContentTypes>
  <appSettings>
    <add key="collectionsDataPath" value="Data"/>
  </appSettings>
</configuration>