<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="messagingContentTypes" type="Altus.Suffūz.Serialization.ContentTypesSection, Altus.Suffūz"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="instanceName" value="server1"/>
    <add key="instanceId" value="1"/>
    <add key="instanceCryptoKey" value="MTIzNDU2Nzg5MA=="/>
    <add key="multicastRange" value="224.0.0.0-239.255.255.255"/>
    <add key="multicastLoopback" value="true"/>
    <add key="debugInjections" value="true"/>
    <add key="tempDir" value="Temp"/>
    <add key="collectionsDataPath" value="Data"/>
  </appSettings>
  <messagingContentTypes>
    <contentTypes>
      <add contentType="application/octet-stream" extension="*"/>
      <add contentType="application/octet-stream" extension="bin"/>
    </contentTypes>
  </messagingContentTypes>
  <system.diagnostics>
    <switches>
      <!--This switch controls general messages. In order to 
         receive general trace messages change the value to the 
         appropriate level. "1" gives error messages, "2" gives errors 
         and warnings, "3" gives more detailed error information, and 
         "4" gives verbose trace information-->
      <add name="TraceLevelSwitch" value="2"/>
    </switches>
  </system.diagnostics>
</configuration>